.App {
  text-align: center;
}

/* Badge */
.custom-badge
{
  background-color: #dbdbdb !important;
}

/* Table */
.custom-table,
.custom-table th,
.custom-table td
{
  border: none !important;
}
.custom-table
{
  border-radius: 10px !important;
   overflow: hidden;
}

.custom-table th
{
  background-color: #EEF1F9;
}
.custom-table td{
  padding: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
